<h1>Productos en Catalogo</h1>
{{#each products}}
    <ul>
        <span style="color:red">Producto:</span> <l1>{{title}}</l1><br>
        <span style="color:red">Precio:</span> <l1>${{price}}</l1><br>
        <span style="color:red">Url:</span> <l1>{{thumbnail}}</l1><br>
        <span style="color:red">Id:</span> <l1>{{id}}</l1><br>
</ul>
{{/each}}
<button><a style="text-decoration: none;" href="http://localhost:8080">Inicio</a></button>
<button><a style="text-decoration: none;" href="http://localhost:8080/productos/post">Carga otro producto</a></button>

