<h2>Agregar un Producto</h2>
    <form action="/productos" method="POST">
        Titulo: <input type="text" name="title">
        Precio: <input type="number" name="price">
        Url Imagen: <input type="url" name="thumbnail">
        <button>Enviar</button>
    </form>
    <button><a style="text-decoration: none;" href="http://localhost:8080">Inicio</a></button>