<h1>Bienvenido a nuestra Libreria!</h1>
    <h4>Seleccione que accion quiere</h4>
        <button><a style="text-decoration: none;" href="http://localhost:8080/productos">Ver todos los productos</a></button>
        <button><a style="text-decoration: none;" href="http://localhost:8080/productos/post">Cargar un nuevo producto</a></button>