extends ./layouts/main.pug
block content   
    h1 Bienvenido a nuestra Libreria!
    h4 Seleccione que accion quiere
    button 
        a(href='http://localhost:8081/productos') Ver todos los productos
    button 
        a(href='http://localhost:8081/productos/post') Cargar un producto nuevo
